/geekshop/.idea
/geekshop/__pycache__
/geekshop/geekshop/__pycache__
/geekshop/mainapp/__pycache__
/geekshop/mainapp/migrations/__pycache__
/geekshop/authapp/__pycache__
/geekshop/authapp/migrations/__pycache__
/geekshop/mainapp/management/commands/__pycache__
