<ul class="menu">
    <li>
        <a href="{% url 'main' %}">На сайт</a>
    </li>
    <li>
        <a class="{% if 'users' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'adminapp:user_read' %}">Пользователи</a>
    </li>
    <li>
        <a class="{% if 'category' in request.resolver_match.url_name or 'product' in request.resolver_match.url_name %}active{% endif %}" href="{% url 'adminapp:category_read' %}">
            Категории
            {% if category %}
                : {{ category.name }}
            {% endif %}
        </a>
    </li>
</ul>
